<!DOCTYPE html>
<html lang="en" ng-app="ctrack">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>cTrack</title>
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Angular.js -->
  <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script type="text/javascript" src="./ctrack.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid" ng-controller="navController as nav">
      <div class="navbar-header">
        <!-- Mobile screen collapse toggle button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./index.php">Croquet Tracker</a> 
      </div> <!-- /navbar-header -->
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li ng-class="{ active: currentPage == 1}">
            <a href ng-click="currentPage = 1">Home</a></li>
          <li ng-class="{ active: currentPage == 2}">
            <a href ng-click="currentPage = 2">About</a></li>
        </ul>

        <!-- Sign In form -->
        <div ng-hide="nav.loggedIn">
          <form action="login.php" method="post" class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Username" name="username" class="form-control" >
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success navbar-btn">Sign in</button>
          </form>
        </div>

      </div> <!-- /navbar -->
    </div><!-- /container -->
  </nav>

  <!-- Jumbotron -->
  <div class="jumbotron" ng-controller="NavController as nav" ng-show="ctrack.currentPage == 1">
    <div class="container">
      <h1>Hello!</h1>
      <a href="gameview.php">
        <button type="button" class="btn btn-success">
          New game </button>
      </a>
      <p> Need to add: old games </p>
    </div>
  </div>

  <div class="container" ng-show="ctrack.currentPage == 2">
  <div class="row">
    <div class="col-sm-4" "col-sm-offset-4">
      <p>
        CTrack is an open-source project created by Nick Cacace, a graduate student at SUNY New Paltz. <br>
        It was created so he didn't have to haul around those heavy deadness boards, and worry about loosing the papers with wins and losess. <br><br>
        CTrack makes use of other open source software: <br>
        <a href="http://flipclockjs.com/"> Bootstrap </a><br>
        <a href="http://getbootstrap.com/"> FlipClock.js </a><br>
        Thanks to all of those who contributed!
      </p>


  <div ng-show="currentPage == 1" ng-controller="ContentController as content">
    <div ng-show="content.test">
      Hello World
    </div>
    {{2 + 2}}
    {{content.test}}
  </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>