<div class="container" ng-controller="signinCtrl as signin">
	
	<div class="col-md-4"></div>
	<div class="well col-md-4">

		<div class="alert alert-success" role="alert" ng-show="success">
			{{ message }}
			<p>
				<a href="#/games"> Go to games overview </a>
			</p>
		</div>
		<div class="alert alert-danger" role="alert" ng-show="error">
			{{ message }} 
		</div>
		<h1> Sign In </h1>
		<form id="signinForm" ng-submit="signIn()" class="form-horizontal" role="form" name="signupForm" novalidate>
			<div class="form-group">
				<input type="text" class="form-control" name="username" id="username" placeholder="Username" ng-model="credentials.username" />
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="password" id="password" placeholder="Password" ng-model="credentials.password" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success">
				Sign In
				</button>
			</div>
	</div> <!-- /well -->
</div>